Node RED flow LifeExpectancyPrediction for AutoAI.json
[{"id":"3e606e5f.c85b02","type":"tab","label":"Life Expectancy dashboard","disabled":false,"info":""},{"id":"c283682c.1591e8","type":"function","z":"3e606e5f.c85b02","name":"PreToken","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"stats\",msg.payload.stats)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"diptheria\",msg.payload.diptheria)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"population\",msg.payload.population)\nglobal.set(\"t1\",msg.payload.t1)\nglobal.set(\"t5\",msg.payload.t5)\nglobal.set(\"icr\",msg.payload.icr)\nglobal.set(\"schooling\",msg.payload.schooling)\nvar apikey=\"Z69O3Np6_f82T-Z-IEHczWqaGkTWr4swFvBOMzhZo1hh\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["29a034cb.dce9ec"]]},{"id":"29a034cb.dce9ec","type":"http request","z":"3e606e5f.c85b02","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":360,"wires":[["247315a2.3ab45a","417789f2.756998"]]},{"id":"19235b21.008825","type":"debug","z":"3e606e5f.c85b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":80,"wires":[]},{"id":"417789f2.756998","type":"function","z":"3e606e5f.c85b02","name":"Pre Prediction","func":"var country = global.get(\"country\",msg.payload.country)\nvar year = global.get(\"year\",msg.payload.year)\nvar stats = global.get(\"stats\",msg.payload.stats)\nvar am = global.get(\"am\",msg.payload.am)\nvar id = global.get(\"id\",msg.payload.id)\nvar alcohol = global.get(\"alcohol\",msg.payload.alcohol)\nvar pe = global.get(\"pe\",msg.payload.pe)\nvar hb = global.get(\"hb\",msg.payload.hb)\nvar measles= global.get(\"measles\",msg.payload.measles)\nvar bmi = global.get(\"bmi\",msg.payload.bmi)\nvar ufd = global.get(\"ufd\",msg.payload.ufd)\nvar polio = global.get(\"polio\",msg.payload.polio)\nvar te = global.get(\"te\",msg.payload.te)\nvar diptheria = global.get(\"diptheria\",msg.payload.diptheria)\nvar hiv = global.get(\"hiv\",msg.payload.hiv)\nvar gdp = global.get(\"gdp\",msg.payload.gdp)\nvar population = global.get(\"population\",msg.payload.population)\nvar t1 = global.get(\"t1\",msg.payload.t1)\nvar t5 = global.get(\"t5\",msg.payload.t5)\nvar icr = global.get(\"icr\",msg.payload.icr)\nvar schooling = global.get(\"schooling\",msg.payload.schooling)\nvar token = msg.payload.access_token\nvar instance_id = \"90d44571-63d0-4267-9743-34b59b3f0e3a\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\",\"Year\",\"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness 1-19 years\",\"thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"], \"values\": [[country,year,stats,am,id,alcohol,pe,hb,measles,bmi,ufd,polio,te,diptheria,hiv,gdp,population,t1,t5,icr,schooling]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":696.0000076293945,"y":331.9999990463257,"wires":[["2d8eac23.bca454"]]},{"id":"874c3d5f.eb151","type":"ui_form","z":"3e606e5f.c85b02","name":"","label":"","group":"59cf36c4.3da238","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Satus","value":"stats","type":"text","required":true,"rows":null},{"label":"Adult mortality","value":"am","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"diptheria","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"population","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"t1","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"t5","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"icr","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","stats":"","am":"","id":"","alcohol":"","pe":"","hb":"","measles":"","bmi":"","ufd":"","polio":"","te":"","diptheria":"","hiv":"","gdp":"","population":"","t1":"","t5":"","icr":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":91,"y":422.9999952316284,"wires":[["c283682c.1591e8"]]},{"id":"58cfdd6c.a93e44","type":"ui_text","z":"3e606e5f.c85b02","group":"59cf36c4.3da238","order":3,"width":0,"height":0,"name":"","label":"Life Expectancy = ","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":180,"wires":[]},{"id":"b67abad4.3befa8","type":"function","z":"3e606e5f.c85b02","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":160,"wires":[["58cfdd6c.a93e44","19235b21.008825"]]},{"id":"247315a2.3ab45a","type":"debug","z":"3e606e5f.c85b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":440,"wires":[]},{"id":"afebfb1c.593c88","type":"debug","z":"3e606e5f.c85b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":560,"wires":[]},{"id":"2d8eac23.bca454","type":"http request","z":"3e606e5f.c85b02","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b95811e4-f86d-458e-9b2a-69734fa35c1c/predictions","tls":"","persist":false,"proxy":"","authType":"","x":920,"y":340,"wires":[["afebfb1c.593c88","b67abad4.3befa8"]]},{"id":"59cf36c4.3da238","type":"ui_group","z":"","name":"Predict","tab":"8ea03fd2.9008d","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ea03fd2.9008d","type":"ui_tab","z":"","name":"Life Expectancy Prediction","icon":"dashboard","disabled":false,"hidden":false}]